
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title>Hello</title>
    <!-- th:text="${title}" -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/5.15.2/css/all.css}" rel="stylesheet">
<style>
    body, html {
        height: 100%;
    }
    .container {
        height: 80%;
        display: table;
    }
    .container > .row {
        display: table-cell;
        vertical-align: middle;
    }
    </style>



</head>
