<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header :: head"></th:block>
</head>
<body>
<nav class="navbar navbar-dark" style="background-color: cadetblue">
    <th:block th:include="fragments/nav :: nav"></th:block>
</nav>
<div class="container">
    <br>
    <table class="table table-striped">
        <thead>
        <th scope="row">#ID</th>
        <th scope="row">Login</th>
        <th scope="row">Create Date</th>
        <th scope="row">Trigger</th>
        <th scope="row">Admin</th>
        <th scope="row">Upload</th>
        <th scope="row">Update</th>
        <th scope="row">Delete</th>
        </thead>
        <tbody>
        <tr th:each="user : ${whitelist}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.createDate}"></td>
            <td th:text="${user.trigger}"></td>
            <td th:text="${user.admin}"></td>
            <td th:text="${user.upload}"></td>
            <td>
                <button type="button" class="border-0" data-toggle="modal" th:data-target="@{#modal-__${user.id}__}">
                    <i class="fas fa-pencil-alt" style="color: dimgray"></i>
                </button>
                <!-- Modal -->
                <div class="modal fade" th:id="@{modal-__${user.id}__}" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Обновление пользователя: <span  th:text="${user.username}"></span></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Администратор  </span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="admin"
                                           aria-describedby="basic-addon1" th:value="${user.admin}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Права на загрузку</span>
                                    </div>
                                    <input type="text" class="form-control" aria-label="admin"
                                           aria-describedby="basic-addon1" th:value="${user.upload}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                                <button type="button" class="btn btn-primary">Сохранить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <form th:action="@{/delete/__${user.id}__}" method="post">
                    <button type="submit" class="border-0">
                        <i class="fas fa-trash-alt" style="color:red"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <a href="#" data-toggle="modal" data-target="#modal">Добавить пользователя</a>
    <!-- Modal -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавление пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <i class="fas fa-smile-wink"></i>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                </div>
            </div>
        </div>
    </div>
    <br>


    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>

</div>
</body>
</html>