<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="container">

    <h1>ALL LIST OF USERS </h1>
    <br>
    <table class="table table-striped">
        <thead>
        <th scope="row">#ID</th>
        <th scope="row">Login</th>
        <th scope="row">Create Date</th>
        <th scope="row">Trigger</th>
        <th scope="row">Admin</th>
        <th scope="row">Upload</th>
        <th scope="row">Update</th>
        <th scope="row">Delete</th>
        </thead>
        <tbody>
        <tr th:each="user : ${whitelist}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.createDate}"></td>
            <td th:text="${user.trigger}"></td>
            <td th:text="${user.admin}"></td>
            <td th:text="${user.upload}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/updateCourse/__${user.id}__}" role="button">Update</a>
            </td>
            <td>
                <a class="btn btn-primary" th:href="@{/deleteCourse/__${user.id}__}" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>


    <br>
    <a class="btn btn-primary" th:href="@{/addCoursePage}" role="button">Add New Article</a>
    <br>

    <nav aria-label="...">
        <br>
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>

    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>

</div>
</body>
</html>