<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head">
<!--    <title th:include=":: #pageTitle">Layout Generic Title</title>-->
</head>
<body>
<nav class="navbar navbar-dark" style="background-color: cadetblue">
    <th:block th:include="fragments/nav :: nav"></th:block>
</nav>

<h1><span th:text="${user}"></span></h1>
<p>Недостаточно прав <span th:inline="text">[[${#httpServletRequest.remoteUser}]]</span></p>
<p th:each="authority : ${#authentication.getAuthorities()}"
   th:if="${authority.getAuthority().startsWith('ROLE_')}"
   th:text="${authority.getAuthority().replaceFirst('ROLE_', '')}">
</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>